/* Color of the links BEFORE scroll
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

/* .mask-custom {
  backdrop-filter: blur(2px); 
     background-color: rgba(255, 255, 255, 0.5);
} */

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

/* self */
nav{
    height: 80px;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s ease;
}
.brand{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.media-icon{
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  right :20px;
  
}
.media-icon a{
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
  
}
.media-icon a:hover{
 transform: scale(1.5);
  
}
.navigation{
  position: relative;

}

.navigation .navigation-item a{
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight:500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}
.navigation .navigation-item a:before {
  content: '';
  
  position: absolute;
  background-color: #fff;
  height: 3px;
  width: 0%;
  bottom: 0;
  left: 0;
  transition: .3s ease;
}
.navigation .navigation-item a:hover:before{
  width: 100%;
}